@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #fff;
  }
  
input:checked ~ .toggle {
    background-color: #3F3EE8;
}